

<div class="container">
  <h1>HƯỚNG DẪN MUA HÀNG TỪ XA</h1>
  <section>
    <h2>1. THÔNG TIN THANH TOÁN VÀ GIAO HÀNG</h2>
    <p>
      - Khách hàng từ Đà Nẵng ra phía Bắc áp dụng giá bán của EcommerceStore Miền Bắc.
    </p>
    <p>
      - Khách hàng từ Quảng Nam vào phía Nam áp dụng giá bán của EcommerceStore Miền Nam.
    </p>
    <p>
      - Mua hàng online bằng cách đặt hàng trên website hoặc các hình thức khác: gọi tổng đài miễn phí 18002097; chat trên Website; Facebook; Email,...
    </p>
    <p>Các cách thanh toán mua hàng:</p>
    <p>
      a. Giao hàng và thanh toán tại nhà:
    </p>
    <p>
      b. Chuyển khoản hoặc Thanh toán online trên website miễn phí với các loại thẻ tín dụng, ATM, Internet Banking, ZaloPay, Moca, VNPay,...
    </p>
    <p>
      - Khách hàng có thể thực hiện thanh toán chuyển khoản qua VietQR cực kỳ đơn giản, chỉ bằng một thao tác quét mã, tất cả mọi thứ sẽ được thực hiện tự động, không cần nhập thông tin số tài khoản, không cần nhập số tiền và nội dung chuyển khoản. (Xem hướng dẫn thanh toán qua Viet-QR tại đây)
    </p>
    <p>
      c. Mua hàng trả góp:
    </p>
    <p>
      - Trả góp online hơn 20 loại thẻ tín dụng với lựa chọn mua trả góp thẻ tín dụng (xem thêm thanh toán trả góp trực tuyến Alepay)
    </p>
    <p>
      - Trả góp qua công ty tài chính: xét duyệt hồ sơ online - nhận sản phẩm tại cửa hàng.
    </p>
    <p>
      d. Mua hàng xuất hóa đơn VAT cho công ty:
    </p>
    <p>
      - Để đảm bảo hoá đơn VAT cho tổ chức - công ty hợp lệ, khi mua hàng có hoá đơn trên 20 triệu đồng, quý khách vui lòng thực hiện việc thanh toán bằng hình thức CHUYỂN KHOẢN vào tài khoản công ty của EcommerceStore theo thông tin dưới đây theo cú pháp:
    </p>
    <p>Mã đơn hàng - SĐT người mua - Tên khách hàng</p>
    <p>
      PHÍA NAM	PHÍA BẮC
    </p>
    <p>
      Công ty TNHH Thương mại và dịch vụ kỹ thuật Diệu Phúc
    </p>
    <p>
      Ngân hàng Vietinbank - Chi nhánh Phú Yên - Hội sở
    </p>
    <p>
      Số tài khoản: 116609668888 hoặc 1CPS
    </p>
    <p>
      Công ty TNHH Thương Mại Tổng hợp HTV
    </p>
    <p>
      Ngân hàng Vietinbank – CN Đô Thành
    </p>
    <p>
      Số tài khoản: 118624666888 hoặc 2CPS
    </p>
    <p>
      - Các hình thức thanh toán còn lại chỉ áp dụng cho khách hàng cá nhân trong trường hợp hoá đơn mua hàng trên 20 triệu đồng.
    </p>
    <p>
      LƯU Ý:
    </p>
    <p>
      - Đơn hàng thành công khi nhân viên gọi điện xác nhận.
    </p>
    <p>
      e. Chí phí vận chuyển:
    </p>
    <p>
      - Đơn hàng dưới 300.000đ: Phí giao hàng 30.000đ
    </p>
    <p>
      - Đơn hàng từ 300.000đ trở lên: Miễn phí giao hàng
    </p>
    <p>
      - Phụ thu phí cồng kềnh (nếu có), áp dụng đối với các đơn hàng vận chuyển bởi EcommerceStore và đối tác giao hàng
    </p>
  </section>
  <section>
    <h2>2. THỜI GIAN GIAO NHẬN HÀNG</h2>
    <table>
      <tr>
        <th>KHU VỰC</th>
        <th>NỘI THÀNH</th>
        <th>NGOẠI THÀNH</th>
      </tr>
      <tr>
        <td>Hồ Chí Minh & Hà Nội</td>
        <td>Giao nhanh 2 giờ (áp dụng cho khu vực có bán kính giao hàng &lt; 10km)</td>
        <td>Trong vòng 24h cho các khoảng cách xa hơn 10km</td>
      </tr>
      <tr>
        <td>Khu vực các tỉnh có cửa hàng EcommerceStore (trừ Hồ Chí Minh và Hà Nội)</td>
        <td>Trong vòng 24h</td>
        <td>Trong vòng 1 - 2 ngày</td>
      </tr>
      <tr>
        <td>Các khu vực còn lại</td>
        <td>Trong vòng 2 - 4 ngày</td>
      </tr>
    </table>
    <p>
      - Thời gian giao nhận trên áp dụng với các đơn hàng xác nhận trước 15h30, các đơn hàng sau thời gian này sẽ được tính cho ngày kế tiếp.
    </p>
    <p>
      - Thời gian giao hàng ở khu vực "Quận Ngoại Thành và Tỉnh Thành khác" không bao gồm: Chủ nhật và các ngày Lễ, Tết.
    </p>
    <p>
      - Vui lòng ghi chú đặt hàng nếu có nhu cầu xuất hóa đơn.
    </p>
    <p>
      - Vui lòng cung cấp đủ các thông tin sau: Tên người nhận, Địa chỉ, Số điện thoại.
    </p>
    <p>
      (***) Đơn hàng được xác định là cồng kềnh nếu rơi vào một trong các trường hợp sau:
    </p>
    <p>1. Khối lượng thực tế &gt; 8kg</p>
    <p>2. Khối lượng quy đổi &gt; 10kg (DxRxC/5000)</p>
    <p>3. Cả 3 chiều có kích thước lớn hơn 35cm</p>
    <p>4. Cả 2 chiều có kích thước lớn hơn 45cm</p>
    <p>5. Chỉ cần một chiều có kích thước lớn hơn 50cm</p>
  </section>
  <section>
    <h2>3. THÔNG TIN VỀ HUỶ ĐƠN HÀNG VÀ THỜI GIAN HOÀN TIỀN:</h2>
    <p>
      Đối với các trường hợp huỷ đơn hàng, thời gian hoàn tiền
    </p>
    <p>1. Đối với giao dịch tiền mặt: Hoàn ngay tại cửa hàng.</p>
    <p>2. Đối với giao dịch chuyển khoản: Trong vòng 03 ngày làm việc.</p>
    <p>3. Đối với giao dịch thẻ ATM: Trong vòng 7 - 10 ngày làm việc.</p>
    <p>4. Đối với giao dịch thẻ Visa/Master card/JCB: Trong vòng 7 - 15 ngày làm việc.</p>
    <p>5. Đối với giao dịch thanh toán qua cổng MPOS/ALEPAY/ONEPAY: Trong vòng 7 - 14 ngày làm việc.</p>
    <p>6. Đối với giao dịch thanh toán qua VNPAY/Kredivo: Trong vòng 3 - 8 ngày làm việc.</p>
    <p>7. Đối với giao dịch thanh toán qua ví MOCA: Trong vòng 3 - 5 ngày làm việc.</p>
    <p>
      * Hiệu lực áp dụng: Kể từ ngày 12/12/2022 đến khi có thông báo thay thế mới.
    </p>
    <p>
      * Ngày làm việc được hiểu là các ngày trong tuần từ thứ 2 đến thứ 6, không bao gồm thứ 7, chủ nhật, ngày nghỉ Lễ, Tết theo quy định của pháp luật.
    </p>
    <p>
      * Lưu ý: EcommerceStore sẽ hoàn lại giá trị sản phẩm mà khách hàng đã thanh toán, phí vận chuyển (với các sản phẩm không được miễn phí vận chuyển), phụ phí, phí chuyển đổi trả góp và các khuyến mãi cộng thêm sẽ không được hoàn lại.
    </p>
  </section>
  <section>
    <h2>4. HÀNG HÓA ĐẢM BẢO</h2>
    <p>
      - Sản phẩm được quấn bọt khí trước khi bỏ vào hộp carton và đóng gói trước camera ghi hình.
    </p>
    <p>
      - Đơn hàng &gt;1tr được dán tem vỡ logo EcommerceStore ngoài hộp carton.
    </p>
    <p>
      Trường hợp khi giao đến hộp hàng không còn nguyên vẹn, ẩm ướt, móp, méo hoặc mất tem vỡ vui lòng từ chối nhận và liên hệ với cửa hàng xử lý đơn hàng của Quý khách.
    </p>
  </section>
  <section>
    <h2>5. CHÍNH SÁCH ĐỔI MỚI</h2>
    <p>
      - Áp dụng chính sách đổi mới như khách mua tại cửa hàng.
    </p>
    <p>
      - Thời gian đổi mới tính từ ngày khách hàng nhận máy và không quá 35 ngày kể từ ngày xuất bán.
    </p>
    <p>
      - Khách hàng gửi máy đổi mới vui lòng đóng gói hàng hoá cẩn thận, và liên hệ với cửa hàng xử lý đơn hàng của Quý khách.
    </p>
    <p>
      (Với các thất thoát, hư hỏng sản phẩm trong quá trình vận chuyển sẽ không được hưởng chế độ đổi trả và bảo hành máy).
    </p>
    <p>
      - EcommerceStore hỗ trợ khách hàng chi phí vận chuyển với trường hợp sản phẩm phát sinh lỗi trong 15 ngày.
    </p>
  </section>
  <section>
    <h2>6. YÊU CẦU THANH TOÁN TRƯỚC VỚI CÁC TRƯỜNG HỢP</h2>
    <p>
      * Mua tặng hoặc không thanh toán tiền mặt.
    </p>
    <p>
      Thanh toán trước 100% giá trị đơn hàng
    </p>
    <p>
      * Chuyển khoản 100% hoặc phần số dư của 30 triệu nếu đơn hàng có giá trị trên 30 triệu
    </p>
  </section>
</div>          

