 <!-- Trang riêng cho Khách Hàng -->
 <div class="container">
    <h1 class="text-center">Liên Hệ Khách Hàng</h1>
    <p>Nếu bạn là một khách hàng và cần liên hệ với chúng tôi để biết thêm thông tin hoặc có bất kỳ câu hỏi nào, vui lòng sử dụng thông tin liên hệ sau đây:</p>
  
    <h3>Địa chỉ</h3>
    <p>Địa chỉ của chúng tôi: 828 Sư Vạn Hạnh, Quận 10, Thành phố Hồ Chí Minh, Vietnam</p>

    <h3>Điện thoại</h3>
    <p>Số điện thoại dành riêng cho khách hàng: 0937781373</p>

    <h3>Email</h3>
    <p>Email dành riêng cho khách hàng: CustomercareEcommerceStore@gmail.com</p>

    <p>Chúng tôi sẵn sàng hỗ trợ bạn và trả lời mọi câu hỏi của bạn.</p>
</div>

<!-- Trang riêng cho Đối Tác -->
<div class="container">
    <h1 class="text-center">Liên Hệ Đối Tác</h1>
    <p>Nếu bạn là một đối tác và muốn liên hệ với chúng tôi để biết thêm về cơ hội hợp tác hoặc có bất kỳ câu hỏi nào, vui lòng sử dụng thông tin liên hệ sau đây:</p>
  
    <h3>Địa chỉ</h3>
    <p>Địa chỉ công ty:  828 Sư Vạn Hạnh, Quận 10, Thành phố Hồ Chí Minh, Vietnam</p>

    <h3>Điện thoại</h3>
    <p>Số điện thoại dành riêng cho đối tác: 0937781373</p>

    <h3>Email</h3>
    <p>Email dành riêng cho đối tác: PartnerEcommerceStore@gmail.com</p>

    <p>Chúng tôi rất mong được hợp tác và trò chuyện với bạn về cơ hội kinh doanh.</p>
</div>

<!-- Trang riêng cho Nhân Viên Tuyển Dụng -->
<div class="container">
    <h1 class="text-center">Liên Hệ Nhân Viên Tuyển Dụng</h1>
    <p>Nếu bạn là một ứng viên tuyển dụng và muốn liên hệ với nhóm tuyển dụng của chúng tôi hoặc có câu hỏi về việc làm, vui lòng sử dụng thông tin liên hệ sau đây:</p>
  
    <h3>Địa chỉ</h3>
    <p>Địa chỉ văn phòng tuyển dụng: 828 Sư Vạn Hạnh, Quận 10, Thành phố Hồ Chí Minh, Vietnam</p>

    <h3>Điện thoại</h3>
    <p>Số điện thoại liên hệ với nhóm tuyển dụng: 0937781373</p>

    <h3>Email</h3>
    <p>Email liên hệ với nhóm tuyển dụng: JobEcommerceStore@gmail.com</p>

    <p>Chúng tôi sẵn sàng hỗ trợ bạn trong quá trình nộp hồ sơ và phỏng vấn. Hãy liên hệ ngay!</p>
</div>
