<div class="container">
    <h1 class="text-center">Giới thiệu về cửa hàng</h1>
  
    <p>
      TẠI SAO MUA ONLINE LUÔN RẺ HƠN
    </p>
    <ul>
      <li>Chăm sóc khách hàng online tốn ít chi phí nhân sự và không tốn chi phí mặt bằng.</li>
      <li>Khách hàng tiết kiệm chi phí đi lại với chính sách vận chuyển uy tín nhanh chóng.</li>
      <li>Khách hàng tiết kiệm thời gian nhờ thông tin tư vấn online đầy đủ, chính xác, sát với thực tế.</li>
      <li>COMM chỉ cung cấp hàng chất lượng tốt, có kiểm định về chất lượng sản phẩm rõ ràng. Giảm thiểu nỗi lo mua phải hàng kém chất lượng khi mua sắm Online.</li>
    </ul>
  
    <p>"ĐẾN VỚI ECOMM - ĐẾN VỚI NIỀM TIN"</p>
  
    <p>
      GIỚI THIỆU SƠ LƯỢC
    </p>
    <p>
      Được thành lập từ năm 1997, sau hơn 20 năm hoạt động trong lĩnh vực công nghệ số, cửa hàng với hệ thống chi nhánh trải dài toàn quốc, cùng đội ngũ nhân viên tâm huyết đã không ngừng cùng xây dựng một ngôi nhà chung và mang đến những sản phẩm, dịch vụ tốt nhất đến với Khách Hàng.
    </p>
    <p>
      Giá trị cốt lõi , đó là khoảng cách giữa Quản lý và Nhân viên không phải tiền bạc, quyền lực, mà chính là đạo đức và trách nhiệm công việc. Tại Cửa hàng, người biết tôn trọng, hướng dẫn đào tạo, xử lý khối lượng công việc khó khăn, khổng lồ, được gọi là Quản lý.
    </p>
    <p>
      Cửa hàng xây dựng văn hóa "Nói thẳng, Nói thật". Gác lại gánh nặng công việc, mọi người là anh em, không phân biệt khoảng cách Quản lý và Nhân viên, chỉ có người đi trước hướng dẫn cho người đi sau như Anh hướng dẫn Em. Người nhân viên biết nói thẳng, không nịnh bợ, luôn trung thực, chăm chỉ. Quản lý của cửa hàng là những người có đạo đức, tài năng chân chính.
    </p>
    <p>
      SẢN PHẨM
    </p>
    <p>
      Đối với khách hàng, Cửa hàng hy vọng luôn là một địa chỉ mua sắm đáng tin cậy. Sản phẩm trong hệ thống Bách Khoa đều là hàng Hãng chắt lọc và được đánh giá cao. Chúng tôi cung cấp hàng hãng có thương hiệu rõ ràng, uy tín, chất lượng tốt, Vì: Khách Hàng yên tâm sử dụng hàng tốt và Bách Khoa giảm thiểu chi phí Bảo hành, đổi trả.
    </p>
    <p>
      Ngoài ra, cửa hàng không ngừng đổi mới, phát triển theo kịp thị trường, đặc biệt trong một thời đại công nghệ thông tin phát triển. Không chỉ dừng lại ở việc đơn giản cung cấp sản phẩm mang thương hiệu hãng uy tín như Apple, Samsung, JVJ, Xiaomi, 2GOOD, Remax, ZOZO,... chúng tôi vẫn không ngừng chắt lọc và giữ lại những sản phẩm tốt nhất mà các hãng cung cấp.
    </p>
    </div>
  