.footer {
  background-color: #eaf2f6;
  color: #ffffff;
  padding: 0px;
}

.footer h1 {
  font-size: 24px;
}

.footer p {
  font-size: 14px;
}

.footer .col-md-4 {
  margin-bottom: 20px;
}

.footer .form-group {
  
  margin-bottom: 10px;
}

.footer .form-control {
  width: 100%;
}

.footer img {
  max-width: 100%;
  height: auto;
}

.payments-img {
  float: right;
  margin-left: 10px;
}
/* Thay đổi màu và kích thước font cho chữ "Ecommerce Store" */
h1.mb-4.display-5 span {
  font-size: 2em; /* Tăng kích thước font */
  color: rgb(231, 105, 145); /* Đổi màu thành màu hồng */
}

/* Ensure full width */
.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
/* Ẩn gạch chân cho các mục trong Chăm sóc khách hàng và Về cửa hàng */
.footer .col-md-4 .d-flex.flex-column.justify-content-start a {
  text-decoration: none; /* Ẩn gạch chân */
}
/* Tùy chỉnh kiểu chữ và kích thước cho các tiêu đề */
.footer .col-md-4 h5 {
  font-weight: bold;
  font-size: 1.5em;
}

/* Tùy chỉnh kiểu chữ và kích thước cho các input */
.footer .col-md-4 .form-group input {
  height: 30px; /* Chiều cao giảm đi */
}

/* Để giảm chiều cao của nút "Đăng ký ngay" */
.footer .col-md-4 .form-group button {
  padding: 6px 20px; /* Có thể điều chỉnh theo mong muốn */
  font-size: 0.5em; /* Có thể điều chỉnh theo mong muốn */
}

