<div class="my-orders">
    <h1>Đơn đặt hàng</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Orders</th>
                <th>Order Id</th>
                <th>User Name</th>
                <th>Price</th>
                <th>Status</th>
                <th>Option Order</th>
                <th>Product details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderData">
                <td><img class="order-img" src="assets/img/210-2106541_track-my-order-beach-volleyball.png" alt=""></td>
                <td>#{{order.id}}</td>
                <td>{{ order.user?.name || 'N/A' }}</td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.status}}</td>
                <td>
                    <button class="form-button" style="background-color: red;" (click)="cancelOrder(order.id)">Hủy đơn</button>
                    
                    <button class="form-button" *ngIf="order.status === 'Đang chờ xác nhận'" (click)="confirmOrder(order.id)">Xác nhận đơn hàng</button>
                </td>
                <td>
                    <div class="order-items">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of order.items">
                                    <td><img class="order-img" [src]="item.image" alt="{{ item.name }}"></td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price * item.quantity }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
