<div class="container">
  <div class="row">  
    <div class="col-lg-3 ml-lg-auto">
      <div class="category-frame hover-effect">
        <h2>Danh mục</h2>
        <ul>
          <li routerLink="/search/{{ cat.name }}" *ngFor="let cat of listCategories">
            <a>{{ cat.name }}</a>
          </li>
        </ul>
      </div>
      <br>
      <div class="category-frame hover-effect">
        <h2>Thời gian hoạt động</h2>
        <ul>
          <li><a href="#">Thứ 2 : 7h - 21h</a></li>
          <li><a href="#">Thứ 3 : 7h - 21h</a></li>
          <li><a href="#">Thứ 4 : 7h - 21h</a></li>
          <li><a href="#">Thứ 5 : 7h - 21h</a></li>
          <li><a href="#">Thứ 6 : 7h - 21h</a></li>
          <li><a href="#">Thứ 7 : 7h - 21h</a></li>
          <li><a href="#">Chủ nhật : Off</a></li>
        </ul>
      </div>
      <br>
      <br>
      <div class="category-frame hover-effect">
        <h2>Trung tâm cuộc gọi</h2>
        <ul>
          <li><a href="#">📳 Phía Bắc & Trung<br>Mua hàng : (024) 3568 6969<br>Bảo hành : (028) 38 333 222</a></li>
          <li><a href="#">📳 Phía Nam<br>Mua hàng : (028) 3833 6666<br>Bảo hành : (028) 38 333 222</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9 ml-lg-auto">
      <ngb-carousel *ngIf="popularProducts">
        <ng-template ngbSlide *ngFor="let item of popularProducts">
          <div class="picsum-img-wrapper">
            <a routerLink="/details/{{item.id}}">
              <img class="product-header-image" src="{{item.image}}" alt="Random first slide">
            </a>
          </div>
          <div class="carousel-caption">
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <div class="product-list-wrapper">
        <h1>Sản phẩm mới</h1>
        <div class="row">
          <div class="col-sm-3" *ngFor="let item of trendyProducts">
            <div routerLink="/details/{{item.id}}" class="product-item">
              <img src="{{item.image}}" alt="">
              <div >
                <br>
                <h6 class="name-head">{{item.name}}</h6>
                <div class="product-price">
                  <h6>{{item.price}}đ</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
